<div class="jumbotron">
  
  
    

   <table>
    <tbody>
      <tr ng-repeat="place in places">
        <td>{{place.Slug}}</td>
        <td>{{place.Placename}}</td>
        <td>{{place.Zipcode}}</td>
      </tr>
    </tbody>
  </table>
  

  
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>
